# Python virtual environments
.venv/
venv/
ENV/
env/

# Python caches and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django specific
db.sqlite3
db.sqlite3-journal
.env

# Node.js dependencies & builds
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
